page-login {



.loginpage_logo {
    height: 220px;
    width: auto;
    margin-bottom: -10px;
}

.loginpage_input {
    margin: 8px;
    border-radius: 15px;
    background-color:rgba(80, 80, 80, 0.7);
    padding: 3px;
}

.loginpage_form ion-item {
    width: auto;
    margin-left: 10px;
    margin-right: 17px;
    background-color: transparent;
}

.loginpage_form  ion-input {
    background-color: white;
    border-radius: 20px;
    padding-left: 10px;
}

.loginpage_form ion-buttons {
    text-align: center;
    margin-top: 10px;
}

.loginpage_form button {
    text-transform: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    width: 100px;
    font-size: 18px;
}

.loginpage_button {
    margin-top: -15px;

        p {
        color: white;
        text-align: center;
        }
}

.loginpage_button2 {
    text-align: center;
    margin-top: -15px;

    h6 {
        color: white;
        font-weight: 400;
    }

    button {
    text-transform: none;
    border-radius: 5px;
    font-size: 16px;
    }
}

.loginpage_button3 {
    text-align: center;
    margin-top: 15px;

    button {
        text-transform: none;
        text-decoration: underline;
        font-size: 16px;
    }
}

/* ---------------------------------------------------------------------------------------------- */

.button_icon {
    font-size: 38px;
}

.daftarpage_form {
    margin-bottom: 25px;
}

.daftarpage_form ion-item {
    width: auto;
    padding-right: 7px;
}

.daftarpage_form ion-input {
    background-color: #e8e8e8;
    border-radius: 5px;
    padding-left: 8px;
}

.daftarpage_form ion-select {
    background-color: #e8e8e8;
    border-radius: 5px;
}

.daftarpage_form ion-textarea {
    background-color: #e8e8e8;
    border-radius: 5px;
    padding-left: 8px;
}

.daftarpage_verifikasi{
    margin: 25px 7px 0px 7px;

    h5 {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    ion-grid {
        margin-top: -20px;

        ion-col {

            h6 {
                text-align: center;
                font-weight: 500;
            }

            .ktp {
                text-align: center;

                img {
                    height: 130px;
                    width: auto;
                    border: 1px dashed gainsboro;
                    padding: 3px;
                    border-radius: 15px;
                }
            }

            .selfie_ktp {
                text-align: center;
                
                img {
                    height: 130px;
                    width: auto;
                    border: 1px dashed gainsboro;
                    padding: 3px;
                    border-radius: 15px;
                }
            }
    
            ion-buttons {
                text-align: center;
                margin-top: 10px;
    
                img {
                    height: 40px;
                    width: 40px;
                    border: dashed 1px gray;
                    border-radius: 7px;
                    padding: 5px;
                }
            }
    
            p {
                font-size: 12px;
            }
        }
    }
}

.daftarpage_verifikasi_title2 {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.daftarpage_verifikasi ion-buttons {
    text-align: center;
}

.daftarpage_verifikasi img {
    width: 150px;
    height: auto;
}

/* ---------------------------------------------------------------------------------------------- */

.informasipendaftaran_img {
    width: 100vh;
    height: auto;
}

.informasipendaftaran_persyaratan {
    margin: 10px;
}

.informasipendaftaran_persyaratan_title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: -15px;
}

.informasipendaftaran_persyaratan ion-buttons {
    text-align: center;
    text-transform: none;
    margin-top: -15px;
}

.informasipendaftaran_persyaratan div {
    text-transform: none;
}
.informasipendaftaran_persyaratan ion-icon {
    padding-right: 7px;
}

.informasipendaftaran_keterangan {
    margin: 30px 10px 10px 10px;
}

.informasipendaftaran_keterangan ion-grid {
    margin: -20px 10px 25px 5px;
}

.informasipendaftaran_keterangan ion-col {
    height: 50px;
}

.informasipendaftaran_col_number {
    max-width: 25px;
}

.informasipendaftaran_nama {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    margin-top: -2px;
}

.informasipendaftaran_nomor {
    text-align: center;
    margin-top: -10px;
}

}