<ion-header no-border> 
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content fullscreen style="background-color: whitesmoke">
<!-- <div *ngFor="let item of items"> -->
  <div class="mitradetail_info">
    <ion-grid>
      <ion-row class="mitradetail_info background">
        <ion-col>

        </ion-col>
      </ion-row>
      <ion-row class="mitradetail_info card_1">
        <ion-col>
          <ion-card>
            <h5>Antonio Banderas</h5><br>
            <h6>3374100000000</h6><br>
            <div>
              <img src="staff_picture/staff.png"><br>
              <p>KTP</p>
            </div>
            <div>
              <img src="staff_picture/staff.png"><br>
              <p>Selfie + KTP</p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="mitradetail_info card_2">
        <ion-col>
          <ion-card>
            <h5>Alamat</h5><br><h6>Sed fermentum augue nec mauris euismod pellentesque</h6>
            <h5>Kota</h5><br><h6>Semarang</h6>
            <h5>Email</h5><br><h6>Blank@gmail.com</h6>
            <h5>No. Handphone</h5><br><h6>081.000.000.000</h6>
          </ion-card>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col col-3>
          <p>No.KTP</p>
        </ion-col>
        <ion-col>
          <p>: {{ item.noktp }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <p>Nama</p>
        </ion-col>
        <ion-col>
          <p>: {{ item.nama }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <p>Alamat</p>
        </ion-col>
        <ion-col>
          <p>: {{ item.alamat }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <p>Kota</p>
        </ion-col>
        <ion-col>
          <p>: {{ item.kota }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <p>Email</p>
        </ion-col>
        <ion-col>
          <p>: {{ item.email }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <p>No.HP</p>
        </ion-col>
        <ion-col>
          <p>: {{ item.nohp }}</p>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </div>

  <!-- <div class="mitradetail_title_img">
    <div>
      <p>Foto KTP</p>
      <img src="http://localhost:8000/verifikasi/{{ item.fotoktp }}" (click)="imagezoom(item.fotoktp)">
    </div>
    <div>
    <p>Foto Selfie + KTP</p>
    <img src="http://localhost:8000/verifikasi/{{ item.fotowajah }}" (click)="imagezoom(item.fotowajah)">
    </div>
  </div> -->
<!-- </div> -->

    
</ion-content>

<ion-footer>
  <ion-buttons>
    <button ion-button block color="secondary" *ngIf="item.status == 1" (click)="tombolproses(item)"><p>Aktifkan Akun</p></button>
    <button ion-button block color="danger" *ngIf="item.status == 2" (click)="tombolproses(item)"><p>Suspend Akun</p></button>
  </ion-buttons>
</ion-footer>