page-mitra {

.pencarianmitra_icon {

    button {
        margin-right: 5px;

        ion-icon {
            zoom: 1.7;
        }
    }
}

ion-segment {
    background: color($colors, primary);

    ion-segment-button {
        min-height: 55px;
    }

    p {
        text-transform: none;
        margin-top: 7px;
        font-size: 16px;
        font-weight: 500;
        color: white;
    }
}

.mitra_card_list {
    padding: 2px 0px;

    ion-card {
        height: 55px;
        width: auto;
        margin: 5px;
        border-radius: 5px;
        
        ion-item {
            margin-top: -7px;

            h5 {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                font-weight: 600;
                font-size: 16px;
            }

            h6 {
                color: gray;
                font-size: 14px;
            }
        }
    }
}

/* -------------------------------------------------------------------------------------------- */

.swipe-area {
    height:100%;
    width:100%;
}

.mitradetail_info {

    .background {
        background: color($colors, primary);
        height: 200px;
        margin: -60px -5px 0px -5px;
    }

    .card_1 {
        width: auto;
        margin: -160px -10px 0px -10px;
        text-align: center;

        ion-card {
            border-radius: 5px;

            h5 {
                font-weight: 600;
                font-size: 18px;
                margin: 10px 0px -15px 0px;
            }
    
            h6 {
                font-weight: 500;
                color: gray;
            }
    
            div {
                display: inline-block;
    
                img {
                    width: 120px;
                    height: auto;
                    padding: 3px;
                    border: 1px solid gainsboro;
                    margin: 0px 5px;
                }
                
                p {
                    font-weight: 500;
                    margin-top: -15px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .card_2 {
        width: auto;
        text-align: center;
        margin: -20px -10px 0px -10px;

        ion-card {
            padding: 0px 5px 10px 5px;
            border-radius: 5px;

            h5 {
                font-size: 14px;
                color: gray;
                margin-top: 15px;
            }
    
            h6 {
                font-size: 16px;
                margin-top: -15px;
                font-weight: 500;
            }
        }
    }
}

ion-footer {
    text-align: center;
    background-color: white;

    ion-buttons {
        margin: 0px 4px;

        p {
            text-transform: none;
            font-size: 16px;
        }
    }
    
    
}
}