page-home {
 
}
.carousel {
    ::-webkit-scrollbar { display: none !important};
    }

.nama-produk {
        display: block;
        display: -webkit-box;
        height: 30px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.nama-produk-home {
    display: block;
    display: -webkit-box;
    height: 30px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    }

.thumbnail-card {
    width: auto;
    height: auto;
    margin: 10px 3px -5px 3px;
    }

.home-kategori-card {
    background-size: cover;
    background-position:center center;
    height: 90px;
    width: auto;
    margin: 0px 0px 0px 0px;
    border-radius: 8px;
}
