page-home {
 
}

.cart_button {

    ion-icon {
        zoom: 1.2;
    }

    p {
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        margin-top: -10px;
        margin-left: -15px;
        border-radius: 50%;
        min-width: 20px;
        height: 20px;
        padding-top: 4px;
    }

}

/* --------------------------------------------------------------------------------------------- */

.homepage_slides ion-slides {
    height: 200px;
}

.homepage_menu {

    h5 {
        text-align: center;
        margin: 10px 0px;
    }

    ion-col {
        padding: 0;

        ion-card {
            margin: 3px;
            width: auto;
            height: auto;

            h6 {
                font-size: 15px;
                line-height: 1.0;
                white-space: normal;
                margin: 5px;
                height: 30px;
            }
    
            div {
                text-align: center;
                margin: -5px 0px 10px 0px;
    
                p {
                    color: #EF0085;
                    text-align: center;
                    font-size: 17px;
                }
            }

            button {
                text-transform: none;
                font-size: 15px;
                height: 28px;
            }
        }

        
    }
} 