<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  <ion-title style="margin-left: -12px">Keranjang</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="keranjangpage_content">

  <ion-card *ngFor="let item of items.koleksi; let i = index;">
    <ion-grid>
    <ion-row>
      <ion-col>
        <p class="keranjangpage_namabarang">{{ item.produk.namaproduk }}</p>
      </ion-col>

      <ion-col class="delete_col">
        <button ion-button icon-only clear color="secondary" (click)="tombolhapus(item)">
          <ion-icon name="md-trash"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="max-width: 120px">
        <img src="http://localhost:8000/fotoupload/{{item.produk.foto}}">
      </ion-col>

      <ion-col style="max-width: 75px">
        <p class="keranjangpage_info">Jumlah<br>
                                      Harga<br>
                                      <b>Sub-Total</b></p>
      </ion-col>

      <ion-col>
        <ion-buttons style="margin-top: 7px">
          <button ion-button icon-only outline color="secondary" (click)="decrement(i)" class="keranjangpage_decrement">
            <ion-icon name="ios-remove"></ion-icon>
          </button>
          <!-- {{ currentNumber }} -->
          {{ item.jumlah }}
          <button ion-button icon-only outline color="secondary" (click)="increment(i)" class="keranjangpage_increment">
            <ion-icon name="ios-add"></ion-icon>
          </button>
        </ion-buttons>

        <p class="keranjangpage_qty">Rp {{item.produk.harga}},-<br>
                                    <b>Rp {{ item.jumlah * item.produk.harga }}.-</b></p>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card>

</ion-content>

<ion-footer *ngFor="let item2 of items.koleksi2">
  <ion-row class="keranjang_row_harga">
    <ion-col style="text-align: center" *ngIf="item2.subtotal != 0">
      <p><b>Total Harga : Rp {{item2.subtotal}}.-</b></p>
    </ion-col>
    <ion-col style="text-align: center" *ngIf="item2.subtotal == 0">
      <p><b>[ Keranjang Kosong ]</b></p>
    </ion-col>
  </ion-row>

  <ion-row class="keranjang_row_button">
    <ion-col>
      <button ion-button block color="success" style="text-transform: none" *ngIf="item2.subtotal != 0" (click)="tombolbeli()">Lanjut Belanja</button>
      </ion-col>
    <ion-col>
      <button ion-button block color="secondary" style="text-transform: none" *ngIf="item2.subtotal != 0" (click)="tombolkirim(item2)">Pembayaran
      <ion-icon name="ios-arrow-forward-outline"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-footer>