<ion-menu [content]="content">
  <ion-header class="app_header">
    <ion-item color="primary">
        <img src="login_image/photo_placeholder.png" (click)="imagezoom()">
        <ion-buttons>
            <button ion-button clear (click)="imageupload()">
                <ion-icon name="ios-camera-outline"></ion-icon>
            </button>
        </ion-buttons>
        <p *ngFor="let profile of user">{{ profile.nama }}</p>
    </ion-item>
  </ion-header>

  <ion-content>
    <ion-list no-lines style="border-bottom: 1px solid gainsboro; margin-top: 0px;" *ngIf="level == 'admin'">
      <button menuClose ion-item icon-left *ngFor="let p of pages_admin" (click)="openPage(p)" style="border-top: 1px solid gainsboro; border-bottom: 1px solid gainsboro">
        <img width="30px" height="30px" src="{{ p.icon }}" item-left>
        {{p.title}}
      </button>
    </ion-list>
    <ion-list no-lines style="border-bottom: 1px solid gainsboro; margin-top: 0px;" *ngIf="level == 'mitra'">
      <button menuClose ion-item icon-left *ngFor="let p of pages_mitra" (click)="openPage(p)" style="border-top: 1px solid gainsboro; border-bottom: 1px solid gainsboro">
        <img width="30px" height="30px" src="{{ p.icon }}" item-left>
        {{p.title}}
      </button>
    </ion-list>
    <ion-footer>
    </ion-footer>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>