.app_header {

    ion-item {
        text-align: center;

        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }

        button {
            zoom: 1.3;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            margin-top: -35px;
            margin-left: 23px;
            width: 30px;
            height: 30px;
            color: white;
        }

        p {
            font-size: 17px;
            margin-top: 5px;
        }
        
    }
    
}
/*.css_icon_kamera {
    // I'd suggest to have the icon in src/assets (eg ../assets/icon/favicon.ico)
    background-image: url("../../../imageupload_icon/camera_icon.ico") !important;
    // to properly position the icon:
    background-repeat: no-repeat !important;
    background-position: 10px 10px !important;
    // to indent the text to the right of the icon:
    padding-left: 50px !important;
    padding-top: 10px !important;
}
.css_icon_gallery {
    // I'd suggest to have the icon in src/assets (eg ../assets/icon/favicon.ico)
    background-image: url("../../../imageupload_icon/gallery_icon.ico") !important;
    // to properly position the icon:
    background-repeat: no-repeat !important;
    background-position: 10px 10px !important;
    // to indent the text to the right of the icon:
    padding-left: 50px !important;
    padding-top: 10px !important;
}*/

