<ion-header> 
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="margin-left: -12px">Detail Pembelian</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>

      <ion-item-divider color="light" style="height: 35px" *ngFor="let item2 of items.koleksi2">{{item2.tanggal}}
        <ion-badge *ngIf="item2.status == 'order' && item.bukti == ''" color="primary" item-end>Belum Dibayar</ion-badge>
        <ion-badge *ngIf="item2.status == 'order' && item.bukti != ''" color="success" item-end>Pembayaran Diterima</ion-badge>
        <ion-badge *ngIf="item2.status == 'proses'" color="secondary" item-end>Sedang Diproses</ion-badge>
        <ion-badge *ngIf="item2.status == 'kirim'" color="pending" item-end>Sedang Dikirim</ion-badge>
        <ion-badge *ngIf="item2.status == 'selesai'" color="success" item-end>Pembelian Sukses</ion-badge>
      </ion-item-divider>

      <ion-card *ngFor="let item of items.koleksi">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <p class="pembeliandetail_namabarang"><b>{{ item.produk.namaproduk }}</b><p>
                <p class="pembeliandetail_kodebarang">#{{item.produk.kodeproduk}}</p>
              </div>
            </ion-col>
          </ion-row>
      
          <ion-row>
            <ion-col style="max-width: 120px">
              <img src="http://localhost:8000/fotoupload/{{item.produk.foto}}">
            </ion-col>
      
            <ion-col style="max-width: 75px">
              <p class="pembeliandetail_info">Jumlah<br>
                                              Harga<br>
                                            <b>Sub-Total</b></p>
            </ion-col>
      
            <ion-col>
              <p class="pembeliandetail_qty">{{item.jumlah}}<br>
                                          Rp {{item.produk.harga}},-<br>
                                          <b>Rp {{ item.jumlah * item.produk.harga }}.-</b></p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid style="background-color: white; text-align: center">
    <ion-row style="height: 30px">
      <ion-col>
        <p style="margin-top: 3px" *ngFor="let item2 of items.koleksi2"><b>Total Pembayaran : Rp {{ item2.subtotal }},-</b></p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngFor="let item2 of items.koleksi2">
        <ion-buttons>
            <button *ngIf="item2.status == 'order' && item2.bukti != ''" color="secondary" ion-button block style="text-transform: none" (click)="tombolkonfirmasi(item2)">Data Pembayaran</button>
          <button *ngIf="item2.status == 'order' && item2.bukti == ''" color="secondary" ion-button block style="text-transform: none" (click)="tombolkonfirmasi(item2)">Konfirmasi Pembayaran</button>
          <button *ngIf="item2.status == 'order' && item2.bukti == ''" color="danger" ion-button block style="text-transform: none" (click)="tombolbatal(item2)">Batalkan Pesanan</button>
          <button *ngIf="item2.status == 'kirim'" color="secondary" ion-button block style="text-transform: none" (click)="tombolselesai(item2)">Konfirmasi Terima Barang</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
    