page-pembelian {

.pembelian_content {
    padding: 0px;
}

ion-segment {

    ion-segment-button {
        text-transform: none !important;
        font-size: 14px !important;
        height: 60px !important;
    
        ion-buttons {
            margin-top: 5px;
            
            img {
                height: 30px;
                width: auto;
            }
    
            p {
                margin-top: -25px;
            }

        }
        
    }
}

.tanggal_transaksi {
    height: 30px;
}

.isi_transaksi {
    margin-top: -20px;
    height: 75px;
}

.swipe-area {
    height:100%;
    width:100%;
}

/* ----------------------------------------------------------------------------------------------- */

.pembeliandetail_namabarang {
    line-height: 1.1;
    white-space: normal;
}

.pembeliandetail_kodebarang {
    font-size: 14px;
}

.pembeliandetail_info {
    line-height: 27px;
    font-size: 13px;
    margin-top: 2px;
}

.pembeliandetail_qty {
    line-height: 27px;
    font-size: 13px;
}

}
/* -------------------------------------------------------------------------------------------- */

.pembeliankonfirmasi_card1 {
    margin: 0px 0px 10px 0px;
    width: auto;

    p {
        font-size: 18px;
        color: black;
        text-align: center;
        font-weight: bold;
    }

    img {
        height: 15px;
        width: auto;
        margin-left: 10px;
    }

    ion-note {
        color: black;
        font-weight: bold;
    }

    h6 {
        font-size: 12px;
        text-align: center;
        margin-bottom: 15px;

        span {
            font-weight: bold;
            font-size: 14px;
            text-decoration: underline;
        }
    }
}

.pembeliankonfirmasi_card2{
    margin: 0px 0px 10px 0px;
    width: auto;
}

.pembeliankonfirmasi_biaya {

    p {
        font-weight: bold;
    }
    
}

.pembeliankonfirmasi_upload {

    p {
        text-align: center;
        margin: 10px 0px;
        font-size: 18px;
        font-weight: bold;
    }

    img {
        width: 90%;
        margin: 0 auto;
    }
}

