<ion-header> 
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="margin-left: -12px">Detail Penjualan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-grid class="penjualandetail_keterangan" *ngFor="let item2 of items.koleksi2">
        <ion-row>
            <ion-col col-3>
                Tanggal
            </ion-col>
            <ion-col>
                : {{ item2.tanggal }}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3>
                No.Transaksi
            </ion-col>
            <ion-col>
                : {{ item2.kodepenjualan }}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3>
                Nama
            </ion-col>
            <ion-col>
                : {{ item2.users.nama }}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3>
                Alamat
            </ion-col>
            <ion-col>
                : {{ item2.users.alamat }}
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <div class="penjualandetail_foto">
                <p>Foto Bukti Transfer</p>
                <img src="http://localhost:8000/verifikasi/{{ item2.bukti }}">
              </div>
          </ion-col>
        </ion-row>
    </ion-grid>

    <div>
        <p class="penjualandetail_title">Daftar Produk</p>
        <ion-card *ngFor="let item of items.koleksi">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div>
                    <p class="penjualandetail_namabarang"><b>{{ item.produk.namaproduk }}</b><p>
                    <p class="penjualandetail_kodebarang">#{{ item.produk.kodeproduk }}</p>
                  </div>
                </ion-col>
              </ion-row>
          
              <ion-row>
                <ion-col style="max-width: 120px">
                  <img src="http://localhost:8000/fotoupload/{{item.produk.foto}}">
                </ion-col>
          
                <ion-col style="max-width: 75px">
                  <p class="penjualandetail_info">Jumlah<br>
                                                  Harga<br>
                                                <b>Sub-Total</b></p>
                </ion-col>
          
                <ion-col>
                  <p class="penjualandetail_qty">{{ item.jumlah }}<br>
                                              Rp {{ item.produk.harga }},-<br>
                                              <b>Rp {{ item.jumlah * item.produk.harga }},-</b></p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
    </div>
</ion-content>

<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let item2 of items.koleksi2">
                <p>Total Pembayaran : <br>
                Rp {{ item2.subtotal }},-</p>
            </ion-col>
            <ion-col *ngFor="let item2 of items.koleksi2" col-4>
                <ion-buttons>
                    <button *ngIf="item2.status == 'order' && item2.bukti != ''" ion-button block color="secondary" (click)="tombolproses(item2)"><h6>Proses</h6></button>
                    <button *ngIf="item2.status == 'proses'" ion-button block color="secondary" (click)="tombolproses(item2)"><h6>Kirim</h6></button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>